*{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    height: 30px;
    width:100%;
    background-color: chocolate;
    text-align: center;
    line-height: 30px;
    color: white;
}
header span{
  position:fixed;
right: 200px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
aside{
    position: fixed;
    height:800px;
    width: 400px;
    background-color: coral;
    top: 30px;
    color: white;
    padding: 30px;
}
#artical{
    height:800px;
    width: 400px;
    background-color: yellow;
}
#artical h4{
    background-color: yellow;
}
@media and screen(max)
