*{
    margin: 0px;
    padding: 0px;
}
header{
    position: fixed;
    height: 30px;
    width:100%;
    background-color: chocolate;
    text-align: center;
    line-height: 30px;
    color: white;
}
header span{
  position:fixed;
right: 200px;
font-weight: bold;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#artical{
    height:800px;
    width: 400px;
    background-color: yellow;
}
#artical h4{
    background-color: yellow;
}
button{
    width: 50px;
    height: 30px;
    background-color: blue;
    color: white;
    transition:all,1s,1s, 1s;
    transition-timing-function:cubic-bezier(1, 0.5, 0.5, 2);
    transition-delay: 0.1ms;
    border: none;
}
button:focus{
    width: 80px;
    height: 50px;
    background: #bb7575;
}

